@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/pagination";
@import "bootstrap/media";
@import "bootstrap/utilities";
@import "bootstrap/print";

a, a:hover {
  text-decoration: none;
  color: $dark;
}

p, .credit {
  > a, a:hover {
    text-decoration: underline;

    &[target="_blank"]:after {
      content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
      margin: 0 0 0 2px;
    }
  }
}

h2 {
  .heading-anchor {
    opacity: 0.2;
    color: $secondary;

    &:hover {
      opacity: 1;
    }
  }
}

section {
  h2 {
    @extend .border-bottom;
    @extend .pb-2;
    @extend .mb-4;

    span {
      @extend .border-bottom;
      @extend .border-dark;
      @extend .pb-2;
    }
  }

  &.tag {
    h2 {
      @extend .mb-1;
      @extend .mt-5;
    }
  }
}

.page-content {
  @extend .pb-4;
}

.card {
  .card-img {
    height: 100%;
    object-fit: cover;
  }

  .card-img-top {
    height: 300px;
    object-fit: cover;
  }

  .card-title {
    @extend .mb-0;
  }
}

.reading-time {
  @extend .mb-3;
}

.sticky-top-offset {
  top: 100px;
}

.share {
  text-align: center;
  color: $secondary;

  p {
    margin-bottom: 10px;
  }

  ul {
    @extend .pl-0;
    @extend .ml-0;

    li {
      display: block;
      @extend .mb-2;
      font-size: 1.5rem;

      i {
        color: $secondary;
      }
    }
  }
}

.article-post {
  p {
    img:not(.emoji) {
      width: 100%;

      +em {
	display: block;
        @extend .text-center;
	@extend .font-weight-light;
      }
    }
  }

  .gallery {
    em {
	display: block;
        @extend .pb-4;
        @extend .text-center;
	@extend .font-weight-light;
    }
  }
}
