# Site
title: 'Yordan Ivanov'
description: 'My personal blog'
logo: 'assets/images/logo.png'
favicon: 'assets/images/favicon.ico'
baseurl: ''
disqus: 'ivanovyordan'
email: 'mail@ivanovyordan.com'
mailchimp-list: 'https://wowthemes.us11.list-manage.com/subscribe/post?u=8aeb20a530e124561927d3bd8&amp;id=8c3d2d214b'

url: https://wwww.ivanovyordan.com/

include: ['_pages']
permalink: /:year/:month/:day/:title/

# Plugins
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-seo-tag
  - jemoji

author:
    name: Yordan Ivanov
    site: https://www.ivanovyordan.com
    avatar: assets/images/yordan.jpg
    email: mail@ivanovyordan.com
    twitter: ivanov_yordan
    github: ivanovyordan
    linkedin: ivanovyordan

# Defaults
defaults:
  # all posts
  - scope:
      path: '_posts'
    values:
      layout: post
      author: sal
      avatar: /assets/images/avatar1.jpg

  # all pages
  - scope:
      path: '_pages'
    values:
      layout: page

# Syntax
markdown: kramdown
highlighter: rouge

# Paginate
paginate: 10

sass:
  sass_dir: assets/_sass

# Exclude metadata and development time dependencies (like Grunt plugins)
exclude:
  - README.markdown
  - package.json
  - grunt.js
  - Gruntfile.js
  - Gruntfile.coffee
  - node_modules
