<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom mb-3">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}/"><strong>{{ site.title }}</strong></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% include header/menu.html %}
      {% include header/follow.html %}
    </div>
  </div>
</nav>
