<section>
  <h2><span>Featured</span></h2>

  <div class="row">
    {% for post in site.tags.featured limit: 2 %}
      <div class="col-lg-6 col-sm-12 mb-4">
        <div class="card h-100">
          <div class="row no-gutters">
            <div class="col-md-4">
              <a href="{{ post.url | absolute_url }}">
                <img src="{% include functions/image.html image=post.image %}" class="card-img" alt="{{ post.title }}">
              </a>
            </div>

            <div class="col-md-8">
              <div class="card-body">
                <h3 class="card-title h5">
                  <a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
                </h3>
                {% include reading-time.html post=post %}

                <p class="card-text">{% include functions/excerpt.html post=post %}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
