{% assign post = page %}
<div class="row">
  <div class="jumbotron jumbotron-fluid mb-3 pl-0 pt-0 pb-0 bg-white position-relative">
    <div class="h-100 tofront">
      <div class="row justify-content-center">
        <div class="col-md-12 text-center">
          <h1 class="display-4 mb-0 article-headline">{{ page.title }}</h1>
          {% include reading-time.html post=post %}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <img class="img-fluid mx-auto d-block" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ page.image | absolute_url }}{% endif %}" alt="{{ page.title }}">

          {% if page.unsplash_author and page.unsplash_image %}
            <div class="text-center font-weight-light font-italic credit">
              Photo by <a href="https://unsplash.com/photos/{{ page.unsplash_image }}?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">{{ page.unsplash_author }}</a>
              on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </div>
          {% endif %}

          {% if page.image_source_name and photo.image_source_url %}
            <div class="text-center font-weight-light font-italic credit">Photo from
              <a href="{{ page.image_source_name }}">{{ page.image_source }}</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
